/* general styles */
body {
  text-rendering: optimizeLegibility;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border:0;
}

#clean-gray button {
  background: #bfbfbf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#bbb));
  background: -moz-linear-gradient(0% 100% 90deg,#bbb, #e5e5e5);
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 3px #f5f5f5;
  -webkit-box-shadow: inset 0px 1px 3px #f5f5f5;
  color: #333;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
  width: 150px;
}

/* inspired by okcupid.com */
#clean-green button {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

#clean-green button:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}

#clean-green button:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 8px 0 7px 0;
}

/* inspired by okcupid.com */
#pale-blue button {
  background: #e7eef5;
  border: 1px solid #becfe3;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  color: #2a65a6;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  padding: 5px 0 6px 0;
  text-align: center;
  width: 150px;
}

#pale-blue button:hover {
  color: #6f8cc0;
}

/* inspired by iTunes */
#blue-pill button {
  background: #64799e;
  background: -moz-linear-gradient(0% 100% 90deg,#64799e, #a5b8da);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#64799e));
  border: 1px solid #7089b3;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #b4c9ed;
  color: #2b3951;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0 9px 0;
  text-align: center;
  text-shadow: 0 1px 0 #99b9f2;
  text-transform: uppercase;
  width: 150px;
}

/* inspired by dribbble.com */
#dribbble button {
  background: #F26895;
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#F26895), to(#F15587));
  background: -moz-linear-gradient(0% 100% 90deg, #F15587 0%, #F15587 50%, #F26895 50%, #F26895 100%);
  border: 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #fcfcfc;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(104, 45, 64, .7);
  width: 150px;
}

#dribbble button:hover {
  background: #e2558b;
  background: -moz-linear-gradient(0% 100% 90deg, #df3e7b 0%, #df3e7b 50%, #e2558b 50%, #e2558b 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#e2558b), to(#df3e7b));
}

#dribbble button:active {
  background: #c94477;
  background: -moz-linear-gradient(0% 100% 90deg, #c22b65 0%, #c22b65 50%, #c94477 50%, #c94477 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#c94477), to(#c22b65));
}

#slick-black button {
  background: #111;
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(50, 50, 50, 0.9)),
              color-stop(0.5, rgba(30, 30, 30, 0.9)),
              color-stop(0.5, rgba(20, 20, 20, 0.9)),
              color-stop(1, rgba(0, 0, 0, 0.9)));
  background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
              rgba(0, 0, 0, 0.9) 0%,
              rgba(20, 20, 20, 0.9) 50%,
              rgba(30, 30, 30, 0.9) 50%,
              rgba(50, 50, 50, 0.9) 100%);
  border: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1;
  padding: 12px 0;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
  width: 150px;
}

/* inspired by thoughtbot.com */
#thoughtbot button {
  background: #c63929;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 1px 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 1px 1px 3px #333;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  width: 150px;
}

#thoughtbot button:hover {
  background: #cb0500;
  background: -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
}

#fat-blue button {
  background: #4162a8;
  border: 1px solid #19253f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  width: 150px;
}

#fat-blue button:hover {
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 3px 0px #1f3053, 0 3px 4px 1px #111;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 3px 0px #1f3053, 0 3px 4px 1px #111;
  margin-bottom: 8px;
  margin-top: 56px;
}

#player button {
  background: -moz-linear-gradient(0% 100% 90deg,rgba(166, 172, 176, 0.5), rgba(242, 242, 242, 0.5));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(242, 242, 242, 0.5)), to(rgba(166, 172, 176, 0.5))),
              -webkit-gradient(radial, 25 15, 45, 25 15, 20, from(rgba(50, 50, 50, 0.1)), to(rgba(255, 255, 255, 1)));
  border: 0;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 3px #eee, 0 0 2px 0 #111, 0 1px 2px 0 #eee;
  color: #222;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  height: 50px;
  line-height: 1;
  padding: 11px 0 10px 1px;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  width: 50px;
}