#clean-gray button,
#clean-gray input[type="submit"],
#clean-gray p.button {
  background: #bfbfbf;	
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#a9a9a9));
  background: -moz-linear-gradient(0% 100% 90deg,#a9a9a9, #e5e5e5);
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;  
  -moz-box-shadow: inset 0px 0px 5px #efefef;
  -webkit-box-shadow: inset 0px 0px 5px #efefef;
  color: #333;
  font-family: "lucida grande";
  font-size: 12px;
  font-weight: bold;
  line-height: 1;	    
  margin: 0;
  padding: 8px 12px;
  text-align: center;
  text-shadow: 1px 1px 0px #eee;
  width: 150px;
}

#slick-black button,
#slick-black input[type="submit"],
#slick-black p.button {
  background: #252525;	
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #494949), color-stop(0.5, #353535), color-stop(0.5, #252525), color-stop(1, #272727));
  background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, #272727 0%, #252525 50%, #353535 50%, #494949 100%);
  border: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fcfcfc;
  font-family: "helvetica neue";
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 8px 12px;
  text-align: center;
  width: 150px;
}

#hoptoad button,
#hoptoad input[type="submit"],
#hoptoad p.button {
  background: #ffdd10;	
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdd10), to(#ee790f));
  background: -moz-linear-gradient(0% 100% 90deg,#ee790f, #ffdd10);
  border: 1px solid #330c00;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 1px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 1px #fff;
  color: #291a13;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 14px 20px 18px 20px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);  
  width: 150px;
}

#thoughtbot button,
#thoughtbot input[type="submit"],
#thoughtbot p.button {
  background: #c63929;	
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 1px 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 1px 1px 3px #333;
  color: #fff;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 12px 20px 14px 20px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(90, 7, 0, 1);  
  width: 150px;
}

#dribbble button,
#dribbble input[type="submit"],
#dribbble p.button {
  background: #F26895;	
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#F26895), to(#F15587));
  background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000, #F15587 0%, #F15587 50%, #F26895 50%, #F26895 100%);
  border: 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #fcfcfc;
  font-family: "helvetica neue";
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px 12px 12px 12px;
  text-align: center;
  width: 150px;
}

/* general styles */
#container p.button {
  display: inline;
  margin: 0 76px;
  padding-left: 0;
  padding-right: 0;
  width: 148px;
}

button:hover,
input[type="submit"]:hover,
p.button:hover {
  cursor: pointer;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border:0;
}