/* This stylesheet contains only what is necessary to display the example
   buttons. See buttons.css for the relevant CSS.
******************************************************************************/
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

a {
  color: #d00;
}

#container {
  margin: 50px auto 200px auto;
  width: 640px;
}

h1 {
  font-size: 32px;
  margin: 0 0 12px 80px;
}

p {
  font-size: 13px;
  line-height: 140%;
  margin: 0 0 12px 80px;
}

p.where {
  margin: 0 0 36px 80px;
}

.row {
  border-bottom: 1px solid #eee;
  margin: 0 0 28px 0;
  padding: 0 0 28px 0;
}

.row h2 {
  font-size: 12px;
}

.row:first-child {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.button {
  float: left;
  text-align: center;
  width: 300px;
}

.input {
  float: left;
  margin: 0 20px;
  text-align: center;
  width: 300px;
}

/* Clear Floated Elements
------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}